@model VakaxaIDServer.Quickstart.Account.ForgotPasswordViewModel

<div class="login-wrapper wd-480 wd-xs-350 pd-25 pd-xs-40 pd-t-20 rounded bd bd-white-2 bg-white p-rl mg-x-auto mw">
    <div class="signin-logo tx-center tx-24 tx-bold tx-grey mg-b-20">Forgot Password</div>
    <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
        <div class="form-group">
            <input asp-for="Email" type="email" class="form-control fc-outline-white" placeholder="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
            <span class="text-danger">@Html.ValidationMessage("Error")</span>
        </div>
        <div class="form-group">
            <button class="btn btn-green btn-block" name="button" value="Submit" type="submit" id="forgotPassword">
                Submit
                <i id="loading" class='fa fa-spinner fa-spin' style="display: none"></i>
            </button>
        </div>
    </form>
    <div class="mg-t-20 tx-center">Don't have an account? <a asp-action="Register" class="tx-info">Sign Up</a></div>
    <div class="mg-t-20 tx-center">Already have account? <a asp-action="Login" class="tx-info">Sign In</a></div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $("#forgotPassword").click(function() {
            $(this).prop('disabled', true);
            var x = document.getElementById("loading");
            x.style.display = "inline-block";
            $(this).closest("form").submit();
        });
    </script>
}