<div class="login-wrapper wd-480 wd-xs-350 pd-25 pd-xs-40 pd-t-20 rounded bd bd-white-2 bg-white p-rl mg-x-auto mw">
        <div class="signin-logo tx-center tx-24 tx-bold tx-grey">Confirm by email</div>
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
		<h5 class="check tx-14 tx-green">Please check your email to reset your password.</h5>
        <hr/>
        <div class="mg-t-20 tx-center">Email didn't arrive? <a href="#" class="tx-info">Re-send now!</a></div>
</div><!-- login-wrapper -->