@model VakaxaIDServer.Quickstart.Account.LoginViewModel


<div class="login-wrapper wd-480 wd-xs-350 pd-25 pd-xs-40 pd-t-20 rounded bd bd-white-2 bg-white p-rl mg-x-auto mw">
    <div class=" tx-center tx-24 tx-bold tx-grey mg-b-20">Sign In</div>
    <form asp-route="Login">
        <input type="hidden" asp-for="ReturnUrl"/>

        <fieldset>
            <div class="form-group">
                <input class="form-control" placeholder="Email" asp-for="Username" autofocus>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="@ViewData["ReCaptchaKey"]"></div>
                <span class="text-danger">@Html.ValidationMessage("ErrorCaptcha")</span>
            </div>
            <div class="col-12 mg-t-10">
                @if (Model.AllowRememberLogin)
                {
                    <div class="ckbox width-half mob">
                        <label asp-for="RememberLogin">
                            <input asp-for="RememberLogin" type="checkbox">
                            <span class="remember">Remember Me </span>
                        </label>
                    </div>
                }
                <a asp-action="ForgotPassword" class="tx-info tx-12 d-block width-half mob tx-right">Forgot password</a>

            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-green btn-block" name="button" value="login" id="login">
                    Login<i id="loading" class='fa fa-spinner fa-spin' style="display: none"></i>
                </button>
            </div>
        </fieldset>
    </form>
    <div class="mg-t-20 tx-center">Don't have an account? <a id="register" asp-action="Register" class="tx-info">Sign Up</a></div>
    @if (!string.IsNullOrEmpty(Model.SignOutIframeUrl))
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>

@section Scripts {

    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        $("#login").click(function() {
            $(this).prop('disabled', true);
            var x = document.getElementById("loading");
            x.style.display = "inline-block";
            $(this).closest("form").submit();
        });
    </script>
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}