@model VakaxaIDServer.Quickstart.Account.ResetPasswordViewModel

<div class="login-wrapper wd-480 wd-xs-350 pd-25 pd-xs-40 pd-t-20 rounded bd bd-white-2 bg-white p-rl mg-x-auto mw">
    <div class="signin-logo tx-center tx-24 tx-bold tx-grey mg-b-20">Reset Password</div>
    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        @* <div asp-validation-summary="All"></div> *@

        <input asp-for="Code" type="hidden"/>
        <input asp-for="Email" type="hidden"/>
        <div class="form-group">
            <input asp-for="Password" type="password" class="form-control fc-outline-white" placeholder="New Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="ConfirmPassword" type="password" class="form-control fc-outline-white" placeholder="Confirm Password">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-green btn-block" name="button" value="resetPassword" id="resetPassword">
                Reset Password
                <i id="loading" class='fa fa-spinner fa-spin' style="display: none"></i>
            </button>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $("#resetPassword").click(function() {
            $(this).prop('disabled', true);
            var x = document.getElementById("loading");
            x.style.display = "inline-block";
            $(this).closest("form").submit();
        });
    </script>
}