	  <div class="login-wrapper wd-480 wd-xs-350 pd-25 pd-xs-40 pd-t-20 rounded bd bd-white-2 bg-white p-rl mg-x-auto mw tx-center">
        <i class="icon ion-ios-checkmark-outline tx-100 tx-info lh-1 d-inline-block"></i>
        <div class="signin-logo tx-center tx-24 tx-bold tx-grey">Password reset successfully</div>
        <h5 class="check tx-14 tx-green">You can login with your new password!</h5>
        <a asp-action="Login" class="btn btn-info tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-t-10" style="color:white"> Login
        </a>
      </div><!-- login-wrapper -->